
nav {
  text-align: center;
  color: white;
  padding-bottom: 100px;
  margin-top: 100px;

}
body {
  font-family: 'Open Sans', sans-serif;
background-color: black;
padding-left: 25px;
padding-right: 25px;
}
.wrapper {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 1em;
}
.grid-col-span-2 {
grid-column: span 2;
}
.grid-row-span-2 {
  grid-row: span 2;
}

.box {
border-radius: 80px;
text-align: center;
padding: 25px;
}
.box1{
background-color: rgb(38, 0, 255);
height: 500px;
padding-top: 180px;
font-size: 75px;
color: rgb(255, 255, 255);
}
.box2{
  background-color: rgb(255, 255, 255);
  font-size: 75px;
}
.box3{
  background-color: purple;
font-size: 75px;
color: rgb(255, 255, 255);
}
.box4{
  background-color: yellow;
  font-size: 75px;
color: rgb(0, 0, 0);
}
.box5{
background-color: green;
}
.box6{
  background-color: aqua;
}
.box7{
  background-color: mediumorchid;
}
.box8{
  background-color: tomato;
}





.wum {
  color: #f1cf63;
  font-family: Open Sans Condensed, sans-serif;
  text-align: center;
  background-image: url(/images/typesource/beach.jpg);
  background-color: #cbc5b6;
  background-size: cover;
  line-height: 3em;
  padding-top: 16em;
  padding-bottom: 18em;
}

.wum-r1 {
  font-size: 8.7em;
  font-weight: 700;
  line-height: 1.1em;
  text-transform: uppercase;
}

.wum-small {
  font-family: Pacifico;
  font-weight: 400;
  font-size: 0.37em;
  line-height: 1.35em;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.44em;
  padding-right: 0.2em;
  border: 0.3em solid #f1cf63;
  border-right: 0;
  border-left: 0;
  text-transform: lowercase;
}
h1 {

text-align: center;

}


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
