


.wrapper {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 1em;

}
.grid-col-span-2 {
grid-column: span 2;
}
.grid-row-span-2 {
  grid-row: span 2;
}

.box {
border-radius: 25px;
text-align: center;
padding: 10px;
}
.box1{
background-color: blue;
}
.box2{
  background-color: red;
}
.box3{
  background-color: purple;
}
.box4{
  background-color: yellow;
}
.box5{
background-color: green;
}
.box6{
  background-color: aqua;
}
.box7{
  background-color: mediumorchid;
}
.box8{
  background-color: tomato;
}





.wum {
  color: #f1cf63;
  font-family: Open Sans Condensed, sans-serif;
  text-align: center;
  background-image: url(/images/typesource/beach.jpg);
  background-color: #cbc5b6;
  background-size: cover;
  line-height: 3em;
  padding-top: 16em;
  padding-bottom: 18em;
}

.wum-r1 {
  font-size: 8.7em;
  font-weight: 700;
  line-height: 1.1em;
  text-transform: uppercase;
}

.wum-small {
  font-family: Pacifico;
  font-weight: 400;
  font-size: 0.37em;
  line-height: 1.35em;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.44em;
  padding-right: 0.2em;
  border: 0.3em solid #f1cf63;
  border-right: 0;
  border-left: 0;
  text-transform: lowercase;
}